body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1, h2 {
    color: #832424;
  }
  
  button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  